<!DOCTYPE html>
<html lang="en" data-bs-theme="auto" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sowing</title>
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Link to the local font stylesheet -->
    <link href="/static/fonts/fonts.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
</head>
<body class="d-flex flex-column h-100">
    {{template "navbar.html" .}}

    <!-- Conditionally render the correct layout structure -->
    {{if .ShowSidebar}}
    <div id="main-wrapper">
        <!-- Sidebar -->
        <nav id="sidebar" class="no-transition">
            <div class="p-3">
                <h5>{{.Silo.Name}}</h5>
                {{template "sidebar" .}}
            </div>
        </nav>

        <!-- Page Content Wrapper -->
        <div id="content-wrapper">
            <div class="container mt-4 mb-4">
                {{template "content" .}}
            </div>
        </div>
    </div>
    {{else}}
    <!-- Standard container for pages without a sidebar -->
    <div class="container mt-4">
        {{template "content" .}}
    </div>
    {{end}}

    <script src="/static/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>
