<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <!-- Hamburger Button is only shown if .ShowSidebar is true -->
        {{if .ShowSidebar}}
        <button class="btn btn-outline-secondary me-2" type="button" id="sidebar-toggle" aria-label="Toggle sidebar">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </button>
        {{end}}
        <a class="navbar-brand" href="/">Sowing</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Silos</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {{if .IsLoggedIn}}
                    <li class="nav-item d-flex align-items-center">
                        <span class="navbar-text me-2">Welcome, {{.CurrentUser.DisplayName}}</span>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-secondary" href="/logout">Logout</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="btn btn-outline-primary me-2" href="/login">Login</a>
                    </li>
                    
                {{end}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
                        Theme
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
                        <li><button type="button" class="dropdown-item" data-bs-theme-value="light" aria-pressed="false">Light</button></li>
                        <li><button type="button" class="dropdown-item" data-bs-theme-value="dark" aria-pressed="false">Dark</button></li>
                        <li><button type="button" class="dropdown-item" data-bs-theme-value="auto" aria-pressed="true">Auto</button></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
