<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <!-- Hamburger Button is only shown if .ShowSidebar is true -->
        {{if .ShowSidebar}}
        <button class="btn btn-outline-secondary me-2" type="button" id="sidebar-toggle" aria-label="Toggle sidebar">
            <i class="bi bi-list"></i>
        </button>
        {{end}}
        <a class="navbar-brand" href="/">Sowing</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Silos</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {{if .IsLoggedIn}}
                    <li class="nav-item d-flex align-items-center">
                        <span class="navbar-text me-2">Welcome, {{.CurrentUser.DisplayName}}</span>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-secondary" href="/logout"><i class="bi bi-box-arrow-right"></i> Logout</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="btn btn-outline-primary me-2" href="/login"><i class="bi bi-box-arrow-in-right"></i> Login</a>
                    </li>
                    
                {{end}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
                        <i class="bi bi-palette"></i> Theme
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
                        <li><button type="button" class="dropdown-item" data-bs-theme-value="light" aria-pressed="false"><i class="bi bi-sun"></i> Light</button></li>
                        <li><button type="button" class="dropdown-item" data-bs-theme-value="dark" aria-pressed="false"><i class="bi bi-moon"></i> Dark</button></li>
                        <li><button type="button" class="dropdown-item" data-bs-theme-value="auto" aria-pressed="true"><i class="bi bi-circle-half"></i> Auto</button></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
